.image_wrapper--size--full
	position: relative
	overflow: hidden
	margin: 2rem
	width: 110.6%
	height: auto
	margin-left: -5.3%
	box-shadow: inset 0 0 20px black

	&:before
		position: absolute
		background-color: _c(seashellPeach)
		content: ''
		left: 1rem
		top: -2rem
		width: 4rem
		height: 4rem
		transform: rotate(45deg)

.size-full
	width: 100%
	height: 100%