h1
  color: _c('turquoise')
  font-size: 3rem
  line-height: 4rem

h2
  color: _c('turquoise')
  font-size: 2rem
  line-height: 3rem

strong
  font-size: 1.5rem
  line-height: 2rem
  font-weight: 800

p
  font-size: 1rem
  line-height: 2rem

.article
  height: 3rem
  overflow: hidden
  margin: 2rem
  margin-top: 0
  margin-bottom: 0
  transition: .2s
  transition-property: height margin-top margin-bottom

.article--open
  height: 40rem
  margin-top: 1rem
  margin-bottom: 2rem

.article__main
