h1
  color: _c('turquoise')
  font-size: 3rem
  line-height: 4rem

h2
  color: _c('turquoise')
  font-size: 2rem
  line-height: 3rem

strong
  font-size: 1.5rem
  line-height: 2rem
  font-weight: 800

p
  font-size: 1rem
  line-height: 2rem

.article__main
  height: 0
  overflow: hidden
  padding: 0
  padding: 2rem
  padding-top: 0
  padding-bottom: 0
  transition: .2s
  transition-property: height padding-top padding-bottom

.article--open > .article__main
  height: 40rem
  padding-top: 1rem
  padding-bottom: 2rem